[Unit]
Description=MyApp Docker Compose Service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/arif/docker-project
ExecStart=/bin/bash -c 'cd /home/arif/docker-project && /usr/bin/docker-compose up -d'
ExecStop=/bin/bash -c 'cd /home/arif/docker-project && /usr/bin/docker-compose down'
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target

